{% extends './main.html' %}
{% load static %}

{% block title %}
Имя страницы
{% endblock title %}

{% block content %}


   <main class="content">
          {% include './#sourse/main-menu.html' %}
         <div class="authorization__conrainer  container">

            <form id="" class="authorization " action="#">
               <div class="popup__body">
                  <div class="popup__content">

                     <div class="authorization__text form__text form__text-left">Вход</div>
                     <div class="authorization__window form__window">
                        <div class="authorization__input-container ">
                           <input autocomplete="off" type="text" data-value="Электронный адрес или номер телефона"
                              name="form[]" data-error="" data-value=""
                              class="input  authorization-input window-input _req">
                        </div>
                        <div class="authorization__input-container">
                           <input autocomplete="off" type="" data-value="Пароль" name="form[]" data-error=""
                              data-value="" class="input   authorization-input window-input _req ">
                        </div>

                        <button href="" type="submit"
                           class="authorization__btn btn  form__btn form__viewpass">Войти</button>
                        <a href="registration.html" class="authorization__link ">Регистрация</a>
                     </div>
                  </div>
               </div>
            </form>
         </div>


      </main>


{% endblock content %}