<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="css/swiper-bundle.min.css">
   <!--<link rel="stylesheet" href="css/iconsfont.css">-->
   <link rel="stylesheet" href="css/style.css">
   <title>Document</title>
</head>

<body>
   <div class="wrapper _tabs">
<header id="header" class="header lock-padding">
   <div class="header-container container">
      <div class="header__top top-header">
         <div class="top-header__content ">
            <div class="top-header__column top-header__column-1">

               <a href="home.html" class="top-header__logo">
                  <img src="img/img/storbizz.png" alt="#">
               </a>
               <!--<div class="top-header__catalog">
                  <a href="#" class="top-header__btn btn">
                     <span>Каталог</span>
                  </a>
               </div>-->


            </div>

            <div data-da="container__serch,0,950" class="top-header__column top-header__column-2">
               <form action="#" class="header__search search-header search">
                  <div class="search-header__content search-content">
                     <div class="search-header__input search-content__input">
                        <input autocomplete="off" type="text" data-value="Искать товары" name="form[]" data-error=""
                           data-value="" class="input">

                     </div>

                     <button type="submit" class="search-header__btn btn  btn-input">Найти</button>

                  </div>
               </form>
               <div class="search-header__categories categories-search">
                  <div class="categories-search__top search-top">
                     <div class="search-top__column">
                        Вы уже искали</div>
                     <div class="search-top__column search-top__column-delete">очистить</div>
                  </div>
                  <div class="categories-search__bottom search-bottom">
                     <a href="#" class="search-bottom__item search-bottom__item-active">
                        <div class="search-bottom__text">Искать товары</div>
                        <div class="search-bottom__close"><img src="img/img/close.png" alt=""></div>
                     </a>
                     <a href="#" class="search-bottom__item">
                        <div class="search-bottom__text">Искать товары</div>
                        <div class="search-bottom__close"><img src="img/img/close.png" alt=""></div>
                     </a>
                     <a href="#" class="search-bottom__item">
                        <div class="search-bottom__text">Искать товары</div>
                        <div class="search-bottom__close"><img src="img/img/close.png" alt=""></div>
                     </a>
                  </div>
               </div>
            </div>

            <div class="top-header__column top-header__column-3">
               <div class="top-header__column-contet">
                  <div class="top-header__items">
                     <!-- <a href="#" class="top-header__item item-header">
                        <div class="item-header__icon"> <img src="img/img/icons/header/icon-1.png"
                              alt=""><span>32</span>
                        </div>
                        <div class="item-header__name">Заказы</div>

                     </a>-->
                     <a href="basket.html" class="top-header__item item-header">
                        <div class="item-header__icon"> <img src="img/img/icons/header/icon-2.png" alt=""><span>3</span>
                        </div>
                        <div class="item-header__name">Корзина</div>
                     </a>
                     <a href="#popup" class="top-header__item item-header popup-link">
                        <div class="item-header__icon"> <img src="img/img/icons/header/icon-3.png" alt="">
                        </div>
                        <div class="item-header__name">Войти</div>
                     </a>
                  </div>

               </div>
            </div>
         </div>
      </div>
      <div class="container__serch"></div>
      <!--<div class="header__bottom bottom-header">
      <div class="bottom-header__container container">
         <div class="menu-body">

            <ul class="menu-list">
               <li><a href="" class="menu-link">Категория</a></li>
               <li><a href="" class="menu-link">Категория</a></li>
               <li><a href="" class="menu-link">Категория</a></li>
               <li><a href="" class="menu-link">Категория</a></li>
               <li><a href="" class="menu-link">Категория</a></li>
               <li><a href="" class="menu-link">Категория</a></li>
               <li><a href="" class="menu-link">Категория</a></li>
               <li><a href="" class="menu-link">Категория</a></li>
               <li><a href="" class="menu-link">Категория</a></li>
               <li><a href="" class="menu-link">Категория</a></li>
               <li><a href="" class="menu-link">Категория</a></li>
               <li><a href="" class="menu-link">Категория</a></li>
               <li><a href="" class="menu-link">Категория</a></li>
               <li><a href="" class="menu-link">Категория</a></li>
            </ul>
         </div>
      </div>

   </div>-->

      <!--<div class="header__bottom">
         <ul class="header__bottom-menu">
            <li><a class="header__bottom-link header__bottom-link-active _tabs-item _active" href="#">Женское</a></li>
            <li><a class="header__bottom-link _tabs-item" href="#">Мужское</a></li>
            <li><a class="header__bottom-link _tabs-item" href="#">Детское</a></li>
         </ul>

      </div>
   -->

   </div>

</header><form id="popup" class="authorization  popup" action="#">
   <div class="popup__body">
      <div class="popup__content">
         <a href="#header" class="popup__chouse close-popup">X</a>
         <div class="authorization__text form__text form__text-left">Вход</div>
         <div class="authorization__window form__window">
            <div class="authorization__input-container ">
               <input autocomplete="off" type="text" data-value="Электронный адрес или номер телефона" name="form[]"
                  data-error="" data-value="" class="input authorization-input window-input _req">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="" data-value="Пароль" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>

            <button href="" type="submit"
               class="authorization__btn btn btn-login form__btn form__viewpass">Войти</button>
            <a href="#popup_2" class="authorization__link popup-link">Регистрация</a>
         </div>
      </div>
   </div>
</form>

<form action="#" id="popup_2" class="authorization popup">
   <div class="popup__body">
      <div class="popup__content">
         <a href="#header" class="popup__chouse close-popup">X</a>
         <div class="authorization__text form__text form__text-left">Регистрация</div>
         <div class="authorization__window form__window">
            <div class="authorization__input-container ">
               <input autocomplete="off" type="text" data-value="Имя" name="form[]" data-error="" data-value=""
                  class="input authorization-input window-input _req">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="text" data-value="Фамилия" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="text" data-value="Отчество" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="" data-value="email" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="tel" data-value="телефон" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="date" data-value="Дата рождения" name="form[]" data-error=""
                  data-value="" class="input form__input  authorization-input window-input _req ">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="" data-value="Пароль" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>
            <button href="" type="submit"
               class="authorization__btn btn btn-login entrance__btn form__viewpass">Зарегистрироваться</button>
         </div>
      </div>
   </div>

</form>


<form id="popup_3" class="authorization  popup" action="#">
   <div class="popup__body">
      <div class="popup__content">
         <div class="authorization__window form__window">
            <button href="#header" type="submit"
               class="authorization__btn btn  form__btn form__viewpass close-popup">удалить
               товар</button>
         </div>
      </div>
   </div>
</form>


<form id="popup_4" class="authorization  popup" action="#">
   <div class="popup__body">
      <div class="popup__content">
         <a href="#header" class="popup__chouse close-popup">X</a>
         <div class="authorization__text form__text form__text-left">Личная информация</div>
         <div class="authorization__window form__window">
            <div class="authorization__input-container ">
               <input autocomplete="off" type="text" data-value="Имя" name="form[]" data-error="" data-value=""
                  class="input authorization-input window-input _req">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="text" data-value="Фамилия" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input  _req ">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="text" data-value="Отчество" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="" data-value="email" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="tel" data-value="телефон" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>

            <button href="" type="submit"
               class="authorization__btn btn btn-login entrance__btn form__viewpass">Изменить</button>
         </div>
      </div>
   </div>
</form>      <main class="content">
<form id="popup" class="authorization  popup" action="#">
   <div class="popup__body">
      <div class="popup__content">
         <a href="#header" class="popup__chouse close-popup">X</a>
         <div class="authorization__text form__text form__text-left">Вход</div>
         <div class="authorization__window form__window">
            <div class="authorization__input-container ">
               <input autocomplete="off" type="text" data-value="Электронный адрес или номер телефона" name="form[]"
                  data-error="" data-value="" class="input authorization-input window-input _req">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="" data-value="Пароль" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>

            <button href="" type="submit"
               class="authorization__btn btn btn-login form__btn form__viewpass">Войти</button>
            <a href="#popup_2" class="authorization__link popup-link">Регистрация</a>
         </div>
      </div>
   </div>
</form>

<form action="#" id="popup_2" class="authorization popup">
   <div class="popup__body">
      <div class="popup__content">
         <a href="#header" class="popup__chouse close-popup">X</a>
         <div class="authorization__text form__text form__text-left">Регистрация</div>
         <div class="authorization__window form__window">
            <div class="authorization__input-container ">
               <input autocomplete="off" type="text" data-value="Имя" name="form[]" data-error="" data-value=""
                  class="input authorization-input window-input _req">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="text" data-value="Фамилия" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="text" data-value="Отчество" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="" data-value="email" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="tel" data-value="телефон" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="date" data-value="Дата рождения" name="form[]" data-error=""
                  data-value="" class="input form__input  authorization-input window-input _req ">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="" data-value="Пароль" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>
            <button href="" type="submit"
               class="authorization__btn btn btn-login entrance__btn form__viewpass">Зарегистрироваться</button>
         </div>
      </div>
   </div>

</form>


<form id="popup_3" class="authorization  popup" action="#">
   <div class="popup__body">
      <div class="popup__content">
         <div class="authorization__window form__window">
            <button href="#header" type="submit"
               class="authorization__btn btn  form__btn form__viewpass close-popup">удалить
               товар</button>
         </div>
      </div>
   </div>
</form>


<form id="popup_4" class="authorization  popup" action="#">
   <div class="popup__body">
      <div class="popup__content">
         <a href="#header" class="popup__chouse close-popup">X</a>
         <div class="authorization__text form__text form__text-left">Личная информация</div>
         <div class="authorization__window form__window">
            <div class="authorization__input-container ">
               <input autocomplete="off" type="text" data-value="Имя" name="form[]" data-error="" data-value=""
                  class="input authorization-input window-input _req">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="text" data-value="Фамилия" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input  _req ">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="text" data-value="Отчество" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="" data-value="email" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="tel" data-value="телефон" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>

            <button href="" type="submit"
               class="authorization__btn btn btn-login entrance__btn form__viewpass">Изменить</button>
         </div>
      </div>
   </div>
</form>         <div class="page-product">
<!--<div class=" main-menu ">
   <nav class="main-menu__content  container">
      <div class=" main-menu__link   main-menu__link-1 "> Новинки

      </div>

      <div class="main-menu__link  main-menu__link-2 ">Одежда </div>
      <div class=" main-menu__link  ">Обувь </div>
      <div class=" main-menu__link  ">Акссесуары</div>
      <div class=" main-menu__link ">Скидки </div>
   </nav>
   <div class="content-checkout__body ">
      <div class="main-menu__category ">
         <div class="category-menu__content ">
            <div class="category-menu__column">
               <div class="category-menu__item">
                  <div class="category-menu__label">Платья</div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Верхняя одежда</div>
                  <div class="category-menu__things">
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                  </div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Джинсы и брюки </div>
               </div>
            </div>
            <div class="category-menu__column">
               <div class="category-menu__item">
                  <div class="category-menu__label">Платья</div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Верхняя одежда</div>
                  <div class="category-menu__things">
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                  </div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Джинсы и брюки </div>
               </div>
            </div>
            <div class="category-menu__column">
               <div class="category-menu__item">
                  <div class="category-menu__label">Платья</div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Верхняя одежда</div>
                  <div class="category-menu__things">
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                  </div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Джинсы и брюки </div>
               </div>
            </div>
            <div class="category-menu__column">
               <div class="category-menu__item">
                  <div class="category-menu__label">Платья</div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Верхняя одежда</div>
                  <div class="category-menu__things">
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                  </div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Джинсы и брюки </div>
               </div>
            </div>
         </div>
      </div>


   </div>

</div>-->
<!--<div class="primer ">
   <button class="btn primer-btn ">1</button>
   <button class="btn primer-btn ">2</button>
   <button class="btn primer-btn ">3</button>
   <div class="primer-shows">
      <div class="primer-show "> Lorem 1</div>
      <div class="primer-show "> Lorem 2 </div>
      <div class="primer-show "> Lorem 3 </div>
   </div>
</div>-->

<div class="main-menu " id="nav">
   <div class="main-menu__link">
      Новинки
      <div class="submenu">
         <div class="container">
            <div class="category-menu__content ">
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Новинки</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="main-menu__link">
      Одежда
      <div class="submenu">
         <div class="container">
            <div class="category-menu__content ">
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="main-menu__link">
      Обувь
      <div class="submenu">
         <div class="container">
            <div class="category-menu__content ">
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="main-menu__link">
      Акссесуары
      <div class="submenu">
         <div class="container">
            <div class="category-menu__content ">
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="main-menu__link">
      Скидки
      <div class="submenu">
         <div class="container">
            <div class="category-menu__content ">
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<!--<div class="main-menu " id="nav">
   <div class="munu-item">
      Новинки
      <div class="submenu">
         Меню_1
      </div>
   </div>
   <div class="munu-item">
      menu2
      <div class="submenu">
         Меню_2
      </div>
   </div>
   <div class="munu-item">
      menu3
      <div class="submenu">
         Меню_3
      </div>
   </div>
</div>-->
<!--<nav class="menu">
   <ul class="menu__list main-menu">
      <li>
         <a href="" class="menu__link main-menu__link"> Новинки</a>

         <ul class="sub-menu__list">
            <li>
               <a href="" class="sub-menu__link">Второй уровень</a>
            </li>
            <li>
               <a href="" class="sub-menu__link">Второй уровень</a>

            </li>
            <li>
               <a href="" class="sub-menu__link">Второй уровень</a>
            </li>
            <li>
               <a href="" class="sub-menu__link">Второй уровень</a>
            </li>
         </ul>
      </li>

      <li>
         <a href="" class="menu__link main-menu__link">Одежда</a>

         <ul class="sub-menu__list">
            <div class="sub-menu__content">
               <div class="sub-menu__column">
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
               </div>
               <div class="sub-menu__column">
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
               </div>
            </div>


         </ul>
      </li>
      <li>
         <a href="" class="menu__link main-menu__link">Обувь</a>

         <ul class="sub-menu__list">
            <div class="sub-menu__content">
               <div class="sub-menu__column">
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
               </div>
               <div class="sub-menu__column">
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
               </div>
            </div>


         </ul>
      </li>
   </ul>
</nav>-->


<!--<div class="navbar">
   <a href="#home">Home</a>
   <a href="#news">News</a>
   <div class="dropdown_1">
      <button class="dropbtn_1" onclick="myFunction_1()">Dropdown
         <i class="fa_1 fa-caret-down_1"></i>
      </button>
      <div class="dropdown-content_1" id="myDropdown_1">
         <a href="#">Link 0</a>
         <a href="#">Link 0</a>
         <a href="#">Link 0</a>
      </div>
   </div>
   <div class="dropdown">
      <button class="dropbtn" onclick="myFunction()">Dropdown
         <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content" id="myDropdown">
         <div class="dropdown-content__container">
            <div class="dropdown-content__column">
               <a href="#">Link 1</a>
               <a href="#">Link 2</a>
               <a href="#">Link 3</a>
            </div>
            <div class="dropdown-content__column">
               <a href="#">Link 1</a>
               <a href="#">Link 2</a>
               <a href="#">Link 3</a>
            </div>
         </div>

      </div>
   </div>
</div>-->            <div class="page-product__container container">
               <div class="page-product__information ">
                  <div class="page-product__slider  items-slider ">
                     <div class="page-product__body card-product__body ">
                        <div class="page-product__slide card-product__slide">
                           <div class="page-product__image card-product__image  ibg">
                              <img src="img/img/product.jpg" alt="#">
                           </div>
                        </div>
                        <div class="page-product__slide card-product__slide">
                           <div class="page-product__image card-product__image  ibg">
                              <img src="img/img/product.jpg" alt="#">
                           </div>
                        </div>
                        <div class="page-product__slide card-product__slide">
                           <div class="page-product__image card-product__image  ibg">
                              <img src="img/img/product.jpg" alt="#">
                           </div>
                        </div>
                        <div class="page-product__slide card-product__slide">
                           <div class="page-product__image card-product__image  ibg">
                              <img src="img/img/product.jpg" alt="#">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="page-product__decor">
                  <div class="page-product__name card-product__name">Футболка хлопковая прямая с надписью на груди</div>
                  <div class="page-product__price card-product__price"> <span
                        class="card-product__count rub">2999</span>
                  </div>
                  <div class="page-product__size size-product">
                     <div class="size-product__title">размер</div>
                     <div class="size-product__items">
                        <div class="size-product__item"><span>XS</span></div>
                        <div class="size-product__item"><span>S</span></div>
                        <div class="size-product__item"><span>M</span></div>
                        <div class="size-product__item"><span>L</span></div>
                        <div class="size-product__item"><span>XL</span></div>
                        <div class="size-product__item"><span>XXL</span></div>
                     </div>
                     <button type="submit" class="page-product__btn content-basket__btn btn  btn-input">выберите
                        размер</button>
                     <div class="page-product__about about-product _spollers">
                        <div class="about-product__information">
                           <div class="about-product__title _spoller">описание товара</div>
                           <div class="about-product__body">
                              <div class="about-product__content">
                                 <div class="about-product__item">
                                    <div class="about-product__left">цвет</div>
                                    <div class="about-product__right">белый</div>
                                 </div>
                                 <div class="about-product__item">
                                    <div class="about-product__left">артикул</div>
                                    <div class="about-product__right">6563868</div>
                                 </div>
                                 <div class="about-product__item">
                                    <div class="about-product__left">код цвета</div>
                                    <div class="about-product__right">4</div>
                                 </div>
                              </div>

                              <ul class="about-product__list">
                                 <li class="about-product__link">- мужская футболка свободного прямого кроя из легкой,
                                    дышащей и очень приятной к телу 100% хлопковой ткани с гладкой трикотажной фактурой
                                 </li>
                                 <li class="about-product__link">- классический круглый вырез горловины в мелкий рубчик
                                 </li>
                                 <li class="about-product__link">- короткие рукава чуть выше локтя с прямыми манжетами
                                    без
                                    отворотов</li>
                                 <li class="about-product__link">- универсальная и стильная: сочетай ее с любыми
                                    брюками,
                                    джинсами или шортами и используй в качестве основы для трендовых многослойных луков
                                    с пиджаками, джинсовками или куртками</li>
                              </ul>
                           </div>
                        </div>
                        <div class="about-product__information">
                           <div class="about-product__title _spoller">состав и параметры</div>
                           <div class="about-product__body">
                              <div class="about-product__item">
                                 <div class="about-product__left">состав</div>
                                 <div class="about-product__right">хлопок 100%</div>
                              </div>
                              <div class="about-product__item">
                                 <div class="about-product__left">оттенок</div>
                                 <div class="about-product__right">белый принт</div>
                              </div>
                              <div class="about-product__item">
                                 <div class="about-product__left">покрой </div>
                                 <div class="about-product__right">прямой</div>
                              </div>
                              <div class="about-product__item">
                                 <div class="about-product__left">длина</div>
                                 <div class="about-product__right">средний</div>
                              </div>
                              <div class="about-product__item">
                                 <div class="about-product__left">вырез</div>
                                 <div class="about-product__right">круглый</div>
                              </div>
                           </div>
                        </div>
                        <div class="about-product__information">
                           <div class="about-product__title _spoller">реркомендация по уходу</div>
                           <div class="about-product__body">
                              <ul class="about-product__list">
                                 <li class="about-product__link">бережная стирка при максимальной температуре 30ºс</li>
                                 <li class="about-product__link">не отбеливать</li>
                                 <li class="about-product__link">машинная сушка запрещена</li>
                                 <li class="about-product__link">глажение при 110ºс</li>
                                 <li class="about-product__link">профессиональная сухая чистка</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

      </main>

<footer class="footer">
   <div class="footer__container container">
      <div class="footer__body">
         <div class="footer__top">
            <div class="footer__column footer__column-1 ">
               <a class="footer__logo"><img src="img/img/logo.png" alt="#"></a>
               <button type="submit" class="footer__btn btn ">Обратная связь</button>
            </div>
            <div class="footer__column footer__column-2">
               <div class="footer__label">Компания</div>
               <ul class="footer__list">
                  <li><a class="footer__link" href="#">О компании</a></li>
                  <li><a class="footer__link" href="#">О компании</a></li>
                  <li><a class="footer__link" href="#">О компании</a></li>
               </ul>
            </div>
            <div class="footer__column footer__column-3">
               <div class="footer__label">Контакты</div>
               <ul class="footer__list">
                  <li><a class="footer__link" href="tel:+70000000000">+ 7 000 000-00-00 </a></li>
                  <li><a class="footer__link" href="#">info@storbizz.com</a></li>
                  <li><a class="footer__link" href="#">г. Москва, ул. Арбат, д. 1</a></li>
               </ul>
            </div>

         </div>
         <div class="footer__bottom">
            <div class="footer__year">2023 © Storbizz</div>
         </div>
      </div>
   </div>
</footer>   </div>



   <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
   <script src="https://maps.google.com/maps/api/js?sensor=false&amp;key="></script>
   <!-- подключение карты  -->
   <script src="js/app.js"></script>

</body>

</html>