{% extends './main.html' %}
{% load static %}

{% block title %}
{{ good.name }}
{% endblock title %}

{% block content %}
    <main class="content">
     <div class="page-product">

 {% include './#sourse/main-menu.html' %}
         <div class="page-product__container container">
               <div class="page-product__information ">
                  <div class="page-product__slider  items-slider ">
                     <div class="page-product__body card-product__body ">
                        <div class="page-product__slide card-product__slide">
                           <div class="page-product__image card-product__image  ibg">
                              <img src="{{ good.image_1.url }}" alt="#">
                           </div>
                        </div>
                        <div class="page-product__slide card-product__slide">
                           <div class="page-product__image card-product__image  ibg">
                              <img src="{{ good.image_2.url }}" alt="#">
                           </div>
                        </div>
                        <div class="page-product__slide card-product__slide">
                           <div class="page-product__image card-product__image  ibg">
                              <img src="{{ good.image_3.url }}" alt="#">
                           </div>
                        </div>
                        <div class="page-product__slide card-product__slide">
                           <div class="page-product__image card-product__image  ibg">
                              <img src="{{ good.image_4.url }}" alt="#">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="page-product__decor">
                  <div class="page-product__name card-product__name">{{ good.name }}</div>
                  <div class="page-product__price card-product__price"> <span
                        class="card-product__count rub">{{ good.price|floatformat:0 }}</span>
                  </div>
                  <div class="page-product__size size-product">
                     <div class="size-product__title">размер</div>
                     <div class="size-product__items">
                        <div class="size-product__item"><span>XS</span></div>
                        <div class="size-product__item"><span>S</span></div>
                        <div class="size-product__item"><span>M</span></div>
                        <div class="size-product__item"><span>L</span></div>
                        <div class="size-product__item"><span>XL</span></div>
                        <div class="size-product__item"><span>XXL</span></div>
                     </div>
                     <button type="submit" class="page-product__btn content-basket__btn btn  btn-input">выберите
                        размер</button>
                     {% if user.is_authenticated %}
                     {% if good in user.cart.goods.all %}
                     <a href="{% url 'shop:cart' user.cart.id %}">В корзину</a>
                     {% else %}
                     <a href="{% url 'shop:add_to_cart' user.cart.id good.id %}">Добавить</a>
                     {% endif %}
                     {% else %}
                     <a href="{% url 'login' %}">Войти</a>
                     {% endif %}
                     <div class="page-product__about about-product _spollers">
                        <div class="about-product__information">
                           <div class="about-product__title _spoller">описание товара</div>
                           <div class="about-product__body">
                              <div class="about-product__content">
                                 <div class="about-product__item">
                                    <div class="about-product__left">цвет</div>
                                    <div class="about-product__right">{{ good.color }}</div>
                                 </div>
                                 <div class="about-product__item">
                                    <div class="about-product__left">артикул</div>
                                    <div class="about-product__right">{{ good.article }}</div>
                                 </div>
                                 <div class="about-product__item">
                                    <div class="about-product__left">код цвета</div>
                                    <div class="about-product__right">{{ good.color_code }}</div>
                                 </div>
                              </div>

                              <ul class="about-product__list">
                                 <li class="about-product__link">{{ good.description }}
                                 </li>
<!--                                 <li class="about-product__link">- классический круглый вырез горловины в мелкий рубчик-->
<!--                                 </li>-->
<!--                                 <li class="about-product__link">- короткие рукава чуть выше локтя с прямыми манжетами-->
<!--                                    без-->
<!--                                    отворотов</li>-->
<!--                                 <li class="about-product__link">- универсальная и стильная: сочетай ее с любыми-->
<!--                                    брюками,-->
<!--                                    джинсами или шортами и используй в качестве основы для трендовых многослойных луков-->
<!--                                    с пиджаками, джинсовками или куртками</li>-->
                              </ul>
                           </div>
                        </div>
                        <div class="about-product__information">
                           <div class="about-product__title _spoller">состав и параметры</div>
                           <div class="about-product__body">
                              <div class="about-product__item">
                                 <div class="about-product__left">состав</div>
                                 <div class="about-product__right">{{ good.material }}</div>
                              </div>
                              <div class="about-product__item">
                                 <div class="about-product__left">оттенок</div>
                                 <div class="about-product__right">белый принт</div>
                              </div>
                              <div class="about-product__item">
                                 <div class="about-product__left">покрой </div>
                                 <div class="about-product__right">прямой</div>
                              </div>
                              <div class="about-product__item">
                                 <div class="about-product__left">длина</div>
                                 <div class="about-product__right">средний</div>
                              </div>
                              <div class="about-product__item">
                                 <div class="about-product__left">вырез</div>
                                 <div class="about-product__right">круглый</div>
                              </div>
                           </div>
                        </div>
                        <div class="about-product__information">
                           <div class="about-product__title _spoller">рекомендация по уходу</div>
                           <div class="about-product__body">
                              <ul class="about-product__list">
                                 <li class="about-product__link">{{ good.recommendation }}</li>
<!--                                 <li class="about-product__link">не отбеливать</li>-->
<!--                                 <li class="about-product__link">машинная сушка запрещена</li>-->
<!--                                 <li class="about-product__link">глажение при 110ºс</li>-->
<!--                                 <li class="about-product__link">профессиональная сухая чистка</li>-->
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

      </div>
    </main>
{% endblock content %}





