{% extends './main.html' %}
{% load static %}

{% block title %}
{{ good.name }}
{% endblock title %}

{% block content %}

<form id="popup" class="authorization  popup" action="#">
   <div class="popup__body">
      <div class="popup__content">
         <a href="#header" class="popup__chouse close-popup">X</a>
         <div class="authorization__text form__text form__text-left">Вход</div>
         <div class="authorization__window form__window">
            <div class="authorization__input-container ">
               <input autocomplete="off" type="text" data-value="Электронный адрес или номер телефона" name="form[]"
                  data-error="" data-value="" class="input authorization-input window-input _req">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="" data-value="Пароль" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>

            <button href="" type="submit"
               class="authorization__btn btn btn-login form__btn form__viewpass">Войти</button>
            <a href="#popup_2" class="authorization__link popup-link">Регистрация</a>
         </div>
      </div>
   </div>
</form>

<form action="#" id="popup_2" class="authorization popup">
   <div class="popup__body">
      <div class="popup__content">
         <a href="#header" class="popup__chouse close-popup">X</a>
         <div class="authorization__text form__text form__text-left">Регистрация</div>
         <div class="authorization__window form__window">
            <div class="authorization__input-container ">
               <input autocomplete="off" type="text" data-value="Имя" name="form[]" data-error="" data-value=""
                  class="input authorization-input window-input _req">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="text" data-value="Фамилия" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="text" data-value="Отчество" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="" data-value="email" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="tel" data-value="телефон" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="date" data-value="Дата рождения" name="form[]" data-error=""
                  data-value="" class="input form__input  authorization-input window-input _req ">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="" data-value="Пароль" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>
            <button href="" type="submit"
               class="authorization__btn btn btn-login entrance__btn form__viewpass">Зарегистрироваться</button>
         </div>
      </div>
   </div>

</form>


<form id="popup_3" class="authorization  popup" action="#">
   <div class="popup__body">
      <div class="popup__content">
         <div class="authorization__window form__window">
            <button href="#header" type="submit"
               class="authorization__btn btn  form__btn form__viewpass close-popup">удалить
               товар</button>
         </div>
      </div>
   </div>
</form>


<form id="popup_4" class="authorization  popup" action="#">
   <div class="popup__body">
      <div class="popup__content">
         <a href="#header" class="popup__chouse close-popup">X</a>
         <div class="authorization__text form__text form__text-left">Личная информация</div>
         <div class="authorization__window form__window">
            <div class="authorization__input-container ">
               <input autocomplete="off" type="text" data-value="Имя" name="form[]" data-error="" data-value=""
                  class="input authorization-input window-input _req">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="text" data-value="Фамилия" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input  _req ">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="text" data-value="Отчество" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="" data-value="email" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="tel" data-value="телефон" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>

            <button href="" type="submit"
               class="authorization__btn btn btn-login entrance__btn form__viewpass">Изменить</button>
         </div>
      </div>
   </div>
</form>      <main class="content">

<form id="popup" class="authorization  popup" action="#">
   <div class="popup__body">
      <div class="popup__content">
         <a href="#header" class="popup__chouse close-popup">X</a>
         <div class="authorization__text form__text form__text-left">Вход</div>
         <div class="authorization__window form__window">
            <div class="authorization__input-container ">
               <input autocomplete="off" type="text" data-value="Электронный адрес или номер телефона" name="form[]"
                  data-error="" data-value="" class="input authorization-input window-input _req">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="" data-value="Пароль" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>

            <button href="" type="submit"
               class="authorization__btn btn btn-login form__btn form__viewpass">Войти</button>
            <a href="#popup_2" class="authorization__link popup-link">Регистрация</a>
         </div>
      </div>
   </div>
</form>

<form action="#" id="popup_2" class="authorization popup">
   <div class="popup__body">
      <div class="popup__content">
         <a href="#header" class="popup__chouse close-popup">X</a>
         <div class="authorization__text form__text form__text-left">Регистрация</div>
         <div class="authorization__window form__window">
            <div class="authorization__input-container ">
               <input autocomplete="off" type="text" data-value="Имя" name="form[]" data-error="" data-value=""
                  class="input authorization-input window-input _req">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="text" data-value="Фамилия" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="text" data-value="Отчество" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="" data-value="email" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="tel" data-value="телефон" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="date" data-value="Дата рождения" name="form[]" data-error=""
                  data-value="" class="input form__input  authorization-input window-input _req ">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="" data-value="Пароль" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>
            <button href="" type="submit"
               class="authorization__btn btn btn-login entrance__btn form__viewpass">Зарегистрироваться</button>
         </div>
      </div>
   </div>

</form>


<form id="popup_3" class="authorization  popup" action="#">
   <div class="popup__body">
      <div class="popup__content">
         <div class="authorization__window form__window">
            <button href="#header" type="submit"
               class="authorization__btn btn  form__btn form__viewpass close-popup">удалить
               товар</button>
         </div>
      </div>
   </div>
</form>


<form id="popup_4" class="authorization  popup" action="#">
   <div class="popup__body">
      <div class="popup__content">
         <a href="#header" class="popup__chouse close-popup">X</a>
         <div class="authorization__text form__text form__text-left">Личная информация</div>
         <div class="authorization__window form__window">
            <div class="authorization__input-container ">
               <input autocomplete="off" type="text" data-value="Имя" name="form[]" data-error="" data-value=""
                  class="input authorization-input window-input _req">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="text" data-value="Фамилия" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input  _req ">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="text" data-value="Отчество" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="" data-value="email" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>
            <div class="authorization__input-container">
               <input autocomplete="off" type="tel" data-value="телефон" name="form[]" data-error="" data-value=""
                  class="input form__input  authorization-input window-input _req ">
            </div>

            <button href="" type="submit"
               class="authorization__btn btn btn-login entrance__btn form__viewpass">Изменить</button>
         </div>
      </div>
   </div>
</form>         <div class="page-delivery">
<!--<div class=" main-menu ">
   <nav class="main-menu__content  container">
      <div class=" main-menu__link   main-menu__link-1 "> Новинки

      </div>

      <div class="main-menu__link  main-menu__link-2 ">Одежда </div>
      <div class=" main-menu__link  ">Обувь </div>
      <div class=" main-menu__link  ">Акссесуары</div>
      <div class=" main-menu__link ">Скидки </div>
   </nav>
   <div class="content-checkout__body ">
      <div class="main-menu__category ">
         <div class="category-menu__content ">
            <div class="category-menu__column">
               <div class="category-menu__item">
                  <div class="category-menu__label">Платья</div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Верхняя одежда</div>
                  <div class="category-menu__things">
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                  </div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Джинсы и брюки </div>
               </div>
            </div>
            <div class="category-menu__column">
               <div class="category-menu__item">
                  <div class="category-menu__label">Платья</div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Верхняя одежда</div>
                  <div class="category-menu__things">
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                  </div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Джинсы и брюки </div>
               </div>
            </div>
            <div class="category-menu__column">
               <div class="category-menu__item">
                  <div class="category-menu__label">Платья</div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Верхняя одежда</div>
                  <div class="category-menu__things">
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                  </div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Джинсы и брюки </div>
               </div>
            </div>
            <div class="category-menu__column">
               <div class="category-menu__item">
                  <div class="category-menu__label">Платья</div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Верхняя одежда</div>
                  <div class="category-menu__things">
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                  </div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Джинсы и брюки </div>
               </div>
            </div>
         </div>
      </div>


   </div>

</div>-->
<!--<div class="primer ">
   <button class="btn primer-btn ">1</button>
   <button class="btn primer-btn ">2</button>
   <button class="btn primer-btn ">3</button>
   <div class="primer-shows">
      <div class="primer-show "> Lorem 1</div>
      <div class="primer-show "> Lorem 2 </div>
      <div class="primer-show "> Lorem 3 </div>
   </div>
</div>-->

<div class="main-menu " id="nav">
   <div class="main-menu__link">
      Новинки
      <div class="submenu">
         <div class="container">
            <div class="category-menu__content ">
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Новинки</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="main-menu__link">
      Одежда
      <div class="submenu">
         <div class="container">
            <div class="category-menu__content ">
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="main-menu__link">
      Обувь
      <div class="submenu">
         <div class="container">
            <div class="category-menu__content ">
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="main-menu__link">
      Акссесуары
      <div class="submenu">
         <div class="container">
            <div class="category-menu__content ">
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="main-menu__link">
      Скидки
      <div class="submenu">
         <div class="container">
            <div class="category-menu__content ">
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<!--<div class="main-menu " id="nav">
   <div class="munu-item">
      Новинки
      <div class="submenu">
         Меню_1
      </div>
   </div>
   <div class="munu-item">
      menu2
      <div class="submenu">
         Меню_2
      </div>
   </div>
   <div class="munu-item">
      menu3
      <div class="submenu">
         Меню_3
      </div>
   </div>
</div>-->
<!--<nav class="menu">
   <ul class="menu__list main-menu">
      <li>
         <a href="" class="menu__link main-menu__link"> Новинки</a>

         <ul class="sub-menu__list">
            <li>
               <a href="" class="sub-menu__link">Второй уровень</a>
            </li>
            <li>
               <a href="" class="sub-menu__link">Второй уровень</a>

            </li>
            <li>
               <a href="" class="sub-menu__link">Второй уровень</a>
            </li>
            <li>
               <a href="" class="sub-menu__link">Второй уровень</a>
            </li>
         </ul>
      </li>

      <li>
         <a href="" class="menu__link main-menu__link">Одежда</a>

         <ul class="sub-menu__list">
            <div class="sub-menu__content">
               <div class="sub-menu__column">
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
               </div>
               <div class="sub-menu__column">
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
               </div>
            </div>


         </ul>
      </li>
      <li>
         <a href="" class="menu__link main-menu__link">Обувь</a>

         <ul class="sub-menu__list">
            <div class="sub-menu__content">
               <div class="sub-menu__column">
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
               </div>
               <div class="sub-menu__column">
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
               </div>
            </div>


         </ul>
      </li>
   </ul>
</nav>-->


<!--<div class="navbar">
   <a href="#home">Home</a>
   <a href="#news">News</a>
   <div class="dropdown_1">
      <button class="dropbtn_1" onclick="myFunction_1()">Dropdown
         <i class="fa_1 fa-caret-down_1"></i>
      </button>
      <div class="dropdown-content_1" id="myDropdown_1">
         <a href="#">Link 0</a>
         <a href="#">Link 0</a>
         <a href="#">Link 0</a>
      </div>
   </div>
   <div class="dropdown">
      <button class="dropbtn" onclick="myFunction()">Dropdown
         <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content" id="myDropdown">
         <div class="dropdown-content__container">
            <div class="dropdown-content__column">
               <a href="#">Link 1</a>
               <a href="#">Link 2</a>
               <a href="#">Link 3</a>
            </div>
            <div class="dropdown-content__column">
               <a href="#">Link 1</a>
               <a href="#">Link 2</a>
               <a href="#">Link 3</a>
            </div>
         </div>

      </div>
   </div>
</div>-->            <div class="page-delivery__container container">

               <div class="page-delivery__content">
                  <div class="page-delivery__title title">укажите адрес доставки</div>
                  <form method="post" class="page-delivery__form form-delivery" action="#">
                     {% csrf_token %}
                     <div class="form-delivery__top">
                        <div class="form-delivery__container ">
                           {{ form.street }}
                        </div>
                     </div>
                     <div class="form-delivery__bottom">
                        <div class="form-delivery__container ">
                           {{ form.building }}
                        </div>
                        <div class="form-delivery__container ">
                           {{ form.flat }}
                        </div>
                     </div>
                     <div id="more" class="form-delivery__information information-form">
                        <div class="information-form__date">
                           <div class="information-form__title page-delivery__title title">дата</div>
                           <div class="information-form__date-items">
                              <div class="information-form__date-item">
                                 <div class="information-form__date-number">25</div>
                                 <div class="information-form__date-day">чт</div>
                              </div>
                              <div class="information-form__date-item">
                                 <div class="information-form__date-number">25</div>
                                 <div class="information-form__date-day">чт</div>
                              </div>
                              <div class="information-form__date-item">
                                 <div class="information-form__date-number">25</div>
                                 <div class="information-form__date-day">чт</div>
                              </div>
                              <div class="information-form__date-item">
                                 <div class="information-form__date-number">25</div>
                                 <div class="information-form__date-day">чт</div>
                              </div>
                              <div class="information-form__date-item">
                                 <div class="information-form__date-number">25</div>
                                 <div class="information-form__date-day">чт</div>
                              </div>
                              <div class="information-form__date-item">
                                 <div class="information-form__date-number">25</div>
                                 <div class="information-form__date-day">чт</div>
                              </div>
                              <div class="information-form__date-item">
                                 <div class="information-form__date-number">25</div>
                                 <div class="information-form__date-day">чт</div>
                              </div>
                              <div class="information-form__date-item">
                                 <div class="information-form__date-number">25</div>
                                 <div class="information-form__date-day">чт</div>
                              </div>

                           </div>
                        </div>
                        <div class="information-form__time">
                           <div class="information-form__time page-delivery__title title">время</div>
                           <div class="information-form__time-items">
                              {% for radio in form.time_period %}
                              <div class="information-form__time-item">
                                 <div class="information-form__time-time">{{ radio }}</div>
                              </div>
                              {% endfor %}
                           </div>
                        </div>
                     </div>
                     <button href="" type="submit" id="btn-show"
                        class="page-delivery__btn btn  entrance__btn form__viewpass page-delivery__btn-date">Оформить</button>
                     <div class="page-delivery__text">нажимая на кнопку, вы подтверждаете согласие с Политикой
                        конфиденциальности</div>


                     <a href="{% url 'shop:cart' user.id %}" type="submit"
                        class="page-delivery__btn btn  entrance__btn form__viewpass">Назад</a>

                  </form>
               </div>
            </div>
         </div>
      </main>
{% endblock content %}