{% extends './main.html' %}
{% load static %}

{% block title %}
Имя страницы
{% endblock title %}

{% block content %}

      <main class="content">
    <div class="personal-account">
 {% include './#sourse/main-menu.html' %}
       <div class="personal-account__container container">
               <a href="home.html" class="personal-account__title title-grey">на главную</a>
               <div class="personal-account__title title">профиль</div>
         <div class="personal-account__profile">
               <div class="personal-account__content">
                  <div class="personal-account__item item-account">
                     <div class="item-account__title">Имя</div>
                     <div class="item-account__information">{{ user.first_name }} {{ user.last_name }}</div>
                  </div>
                  <div class="personal-account__item item-account">
                     <div class="item-account__title">Email</div>
                     <div class="item-account__information">{{ user.email }}</div>
                  </div>
                  <div class="personal-account__buttons">
                     <a href="{% url 'update' user.id %}"
                        class="personal-account__button ">изменить</a>

                     <form method="post" action="{% url 'logout' %}">
                     {% csrf_token %}
                        <button type="submit" class="personal-account__button   ">выйти</button>
                     </form>

                  </div>
               </div>

         </div>
           <div class="personal-account__order">
                  <div class="personal-account__title title">мои заказы</div>
                  <div class="personal-account__orders orders-account">
                     <a class="orders-account__content">
                        <div class="orders-account__status">доставлен</div>
                        <div class="orders-account__name">
                           <div class="orders-account__text">заказ</div>
                           <div class="orders-account__number">7848548</div>
                           <div class="orders-account__text">от</div>
                           <div class="orders-account__date">28 октября 2023</div>
                        </div>
                        <div class="orders-account__price">
                           <div class="orders-account__price-text">на сумму</div>
                           <div class="orders-account__price-count rub">3460</div>
                        </div>
                        <div class="orders-account__products">
                           <div class="orders-account__product">
                              <div class="orders-account__image ibg">
                                 <img src="img/img/product.jpg" alt="#">
                              </div>
                           </div>
                           <div class="orders-account__product">
                              <div class="orders-account__image ibg">
                                 <img src="img/img/product.jpg" alt="#">
                              </div>
                           </div>
                        </div>
                     </a>
                     <a class="orders-account__content">
                        <div class="orders-account__status">доставлен</div>
                        <div class="orders-account__name">
                           <div class="orders-account__text">заказ</div>
                           <div class="orders-account__number">7848548</div>
                           <div class="orders-account__text">от</div>
                           <div class="orders-account__date">28 октября 2023</div>
                        </div>
                        <div class="orders-account__price">
                           <div class="orders-account__price-text">на сумму</div>
                           <div class="orders-account__price-count rub">3460</div>
                        </div>
                        <div class="orders-account__products">
                           <div class="orders-account__product">
                              <div class="orders-account__image ibg">
                                 <img src="img/img/product.jpg" alt="#">
                              </div>
                           </div>
                        </div>
                     </a>
                  </div>
               </div>
       </div>
    </div>
      </main>
{% endblock content %}