{% extends './main.html' %}
{% load static %}

{% block title %}
Имя страницы
{% endblock title %}

{% block content %}

      <main class="content">
    <div class="personal-account">
 {% include './#sourse/main-menu.html' %}
       <div class="personal-account__container container">
               <a href="home.html" class="personal-account__title title-grey">на главную</a>
               <div class="personal-account__title title">профиль</div>
               <div class="personal-account__content">
                  <div class="personal-account__item item-account">
                     <div class="item-account__title">Имя</div>
                     <div class="item-account__information">{{ user.first_name }} {{ user.last_name }}</div>
                  </div>
                  <div class="personal-account__item item-account">
                     <div class="item-account__title">Email</div>
                     <div class="item-account__information">{{ user.email }}</div>
                  </div>
                  <div class="personal-account__buttons">
                     <a href="{% url 'update' user.id %}"
                        class="personal-account__button ">изменить</a>

                     <form method="post" action="{% url 'logout' %}">
                     {% csrf_token %}
                        <button type="submit" class="personal-account__button   ">выйти</button>
                     </form>

                  </div>
               </div>
            </div>

    </div>

      </main>
{% endblock content %}