{% extends './main.html' %}
{% load static %}

{% block title %}
Имя страницы
{% endblock title %}

{% block content %}

      <main class="content">
    <div class="personal-account">
 {% include './#sourse/main-menu.html' %}
       <div class="personal-account__container container">
               <a href="home.html" class="personal-account__title title-grey">на главную</a>
               <div class="personal-account__title title">профиль</div>
               <div class="personal-account__content">
                  <div class="personal-account__item item-account">
                     <div class="item-account__title">ФИО</div>
                     <div class="item-account__information">Клочкова Ирина Алексеевна</div>
                  </div>
                  <div class="personal-account__item item-account">
                     <div class="item-account__title">Email</div>
                     <div class="item-account__information">Name@mail.com</div>
                  </div>
                  <div class="personal-account__item item-account">
                     <div class="item-account__title">Телефон
                     </div>
                     <div class="item-account__information">+7 999 666 99 66</div>
                  </div>
                  <div class="personal-account__buttons">
                     <button href="#popup_4" type="submit"
                        class="personal-account__button  popup-link">изменить</button>

                     <form method="post" action="{% url 'logout' %}">
                     {% csrf_token %}
                        <button type="submit" class="personal-account__button   ">выйти</button>
                     </form>

                  </div>
               </div>
            </div>

    </div>

      </main>
{% endblock content %}