{% extends './main.html' %}
{% load static %}

{% block title %}
Имя страницы
{% endblock title %}

{% block content %}

  <main class="content">

         <div class="support-service__container container">
            <div class="support-service__content support-service">
               <div class="support-service__title title">cлужба поддержки</div>
               <form method="post" class="support-service__form" action="{% url 'shop:support' %}">
                   {% csrf_token %}
                   {% if messages %}
                   {% for message in messages %}
                   <div class="support-service__text">{{ message }}
                  </div>
                   {% endfor %}
                   {% else %}

                  <div class="support-service__text">Опишите вашу проблему, в ближайшее время с вами свяжется наш
                     менеджер
                  </div>
                  <div class="support-service__comment">{{ form.text }}</div>
                   {{ form.user }}
                   {{ form.answer }}
                  <button href="" type="submit"
                     class="support-service__btn  btn  entrance__btn form__viewpass">Отправить</button>
                   {% endif %}
               </form>
            </div>
         </div>

      </main>




{% endblock content %}