{% extends '../src/main.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Имя страницы
{% endblock title %}

{% block content %}


   <main class="content">
          {% include '../src/#sourse/main-menu.html' %}
         <div class="authorization__conrainer  container">

            <form method="post" id="" class="authorization " action="{% url 'login' %}">
               {% csrf_token %}
               <div class="popup__body">
                  <div class="popup__content">

                     <div class="authorization__text form__text form__text-left">Вход</div>
                     <div class="authorization__window form__window">
                        <div class="authorization__input-container ">
                           {{ form.username|add_class:'input  authorization-input window-input _req'|attr:"autocomplete:off"|attr:"type:text"|attr:"placeholder:Имя пользователя" }}
                        </div>
                        <div class="authorization__input-container">
                           {{ form.password|add_class:'input  authorization-input window-input _req'|attr:"autocomplete:off"|attr:"placeholder:Пароль" }}
                        </div>

                        <button href="" type="submit"
                           class="authorization__btn btn  form__btn form__viewpass">Войти</button>
                        <a href="registration.html" class="authorization__link ">Регистрация</a>
                     </div>
                  </div>
               </div>
            </form>
         </div>


      </main>


{% endblock content %}