{% extends '../src/main.html' %}
{% load static %}

{% block title %}
Имя страницы
{% endblock title %}

{% block content %}



      <main class="content">
          {% include '../src/#sourse/main-menu.html' %}
         <div class="authorization__conrainer  container">
            <form method="post" action="#" id="" class="authorization ">
               {% csrf_token %}
               <div class="popup__body">
                  <div class="popup__content">
                     {% if user.is_authenticated %}
                     <div class="authorization__text form__text form__text-left">Изменить данные</div>
                     {% else %}
                     <div class="authorization__text form__text form__text-left">Регистрация</div>
                     {% endif %}
                     <div class="authorization__window form__window">
                        {% for field in form %}
                        <div class="authorization__input-container ">
                           {{ field }}
                        </div>
                        {% endfor %}
                        {% if user.is_authenticated %}
                        <button href="" type="submit"
                           class="authorization__btn btn  entrance__btn form__viewpass">Готово</button>
                        <a href="{% url 'account' user.id %}" class="authorization__link  ">Назад</a>
                        {% else %}
                        <button href="" type="submit"
                           class="authorization__btn btn  entrance__btn form__viewpass">Зарегистрироваться</button>
                        <a href="{% url 'login' %}" class="authorization__link  ">Назад</a>
                        {% endif%}
                     </div>
                  </div>
               </div>

            </form>
         </div>


      </main>



{% endblock content %}