<div class="basket-product">
   <a href="page-product.html" class="basket-product__img card-product__image  ibg"><img src="img/img/product.jpg"
         alt="#"></a>
   <div class="basket-product__content">
      <div class="basket-product__top">
         <div class="basket-product__name card-product__name">футболка</div>
         <a href="#popup_3" class="basket-product__delete  popup-link"><img src="img/img/close.png" alt="#"></a>
      </div>
      <div class="basket-product__buttom">
         <div class="basket-product__price card-product__price rub">2999
         </div>
         <div class="basket-product__size-content">
            <div class="basket-product__size">M</div>
            <div class="basket-product__select">
               <select name="form[]" class="show">
                  <option value="1" selected="selected">1 шт</option>
                  <option value="2">2 шт</option>
                  <option value="3">3 шт</option>
                  <option value="4">4 шт</option>
               </select>
            </div>
         </div>
         <div class="basket-product__remainder">последние <span class="count">2 </span></div>
      </div>
   </div>
</div>