{% load static %}
<header id="header" class="header lock-padding">
   <div class="header-container container">
      <div class="header__top top-header">
         <div class="top-header__content ">
            <div class="top-header__column top-header__column-1">

               <a href="{% url 'shop:home' %}" class="top-header__logo">
                  <img src="{% static 'img/img/storbizz.png'%}" alt="#">
               </a>
               <div class="top-header__catalog">
                  <a href="#" class="top-header__btn btn">
                     <span>Каталог</span>
                  </a>
               </div>


            </div>

            <div data-da="container__search,0,950" class="top-header__column top-header__column-2">
               <form action="#" class="header__search search-header search">
                  <div class="search-header__content  search-content">
                     <div class="search-header__input search-content__input">
                        <input autocomplete="off" placeholder="Искать товары " type="text" data-value="Искать товары" name="form[]" data-error=""
                           data-value="" class="input" >

                     </div>

                     <button type="submit" class="search-header__btn btn  btn-input">Найти</button>

                  </div>
               </form>
               <div class="search-header__categories categories-search">
                  <div class="categories-search__top search-top">
                     <div class="search-top__column">
                        Вы уже искали</div>
                     <div class="search-top__column search-top__column-delete">очистить</div>
                  </div>
                  <div class="categories-search__bottom search-bottom">
                     <a href="#" class="search-bottom__item search-bottom__item-active">
                        <div class="search-bottom__text">Искать товары</div>
                        <div class="search-bottom__close"><img src="{% static 'img/img/close.png' %}" alt=""></div>
                     </a>
                     <a href="#" class="search-bottom__item">
                        <div class="search-bottom__text">Искать товары</div>
                        <div class="search-bottom__close"><img src="{% static 'img/img/close.png' %}" alt=""></div>
                     </a>
                     <a href="#" class="search-bottom__item">
                        <div class="search-bottom__text">Искать товары</div>
                        <div class="search-bottom__close"><img src="{% static 'img/img/close.png' %}" alt=""></div>
                     </a>
                  </div>
               </div>
            </div>

            <div class="top-header__column top-header__column-3">
               <div class="top-header__column-contet">
                  <div class="top-header__items">
                     <!-- <a href="#" class="top-header__item item-header">
                        <div class="item-header__icon"> <img src="img/img/icons/header/icon-1.png"
                              alt=""><span>32</span>
                        </div>
                        <div class="item-header__name">Заказы</div>

                     </a>-->
                     {% if user.is_authenticated %}
                     <a href="{% url 'shop:cart' user.id %}" class="top-header__item item-header">
                     {% else %}
                        <a href="{% url 'login' %}" class="top-header__item item-header">
                     {% endif %}
                        <div class="item-header__icon"> <img src="{% static 'img/img/icons/header/icon-2.png' %}" alt=""><span>{{ user.cart.goods.count }}</span>
                        </div>
                        <div class="item-header__name">Корзина</div>
                     </a>
                     {% if user.is_authenticated %}
                     <a href="{% url 'account' user.id %}" class="top-header__item item-header ">
                        <div class="item-header__icon"> <img src="{% static 'img/img/icons/header/icon-3.png' %}" alt="">
                        </div>
                        <div class="item-header__name">Войти</div>
                     </a>
                     {% else %}
                        <a href="{% url 'login' %}" class="top-header__item item-header ">
                        <div class="item-header__icon"> <img src="{% static 'img/img/icons/header/icon-3.png' %}" alt="">
                        </div>
                        <div class="item-header__name">Войти</div>
                     </a>
                     {% endif %}

                  </div>

               </div>
            </div>
         </div>
      </div>
      <div class="container__serch"></div>
      <!--<div class="header__bottom bottom-header">
      <div class="bottom-header__container container">
         <div class="menu-body">

            <ul class="menu-list">
               <li><a href="" class="menu-link">Категория</a></li>
               <li><a href="" class="menu-link">Категория</a></li>
               <li><a href="" class="menu-link">Категория</a></li>
               <li><a href="" class="menu-link">Категория</a></li>
               <li><a href="" class="menu-link">Категория</a></li>
               <li><a href="" class="menu-link">Категория</a></li>
               <li><a href="" class="menu-link">Категория</a></li>
               <li><a href="" class="menu-link">Категория</a></li>
               <li><a href="" class="menu-link">Категория</a></li>
               <li><a href="" class="menu-link">Категория</a></li>
               <li><a href="" class="menu-link">Категория</a></li>
               <li><a href="" class="menu-link">Категория</a></li>
               <li><a href="" class="menu-link">Категория</a></li>
               <li><a href="" class="menu-link">Категория</a></li>
            </ul>
         </div>
      </div>

   </div>-->

      <!--<div class="header__bottom">
         <ul class="header__bottom-menu">
            <li><a class="header__bottom-link header__bottom-link-active _tabs-item _active" href="#">Женское</a></li>
            <li><a class="header__bottom-link _tabs-item" href="#">Мужское</a></li>
            <li><a class="header__bottom-link _tabs-item" href="#">Детское</a></li>
         </ul>

      </div>
   -->

   </div>

</header>