<div class="category-menu">
   <div class="submenu">
      <div class="container">
         <div class="category-menu__content ">
            <div class="category-menu__column">

               <div class="category-menu__item">
                  <div class="category-menu__label">Верхняя одежда</div>
                  <div class="category-menu__things">
                     <a class="category-menu__thing">Бомберы</a>
                     <a class="category-menu__thing">Ветровки</a>
                     <a class="category-menu__thing">Джинсовые куртки</a>
                     <a class="category-menu__thing">Куртки рубашки</a>
                     <a class="category-menu__thing">Пальто</a>
                     <a class="category-menu__thing">Пуховики</a>
                     <a class="category-menu__thing">Тренчи</a>
                     <a class="category-menu__thing">Куртки</a>
                  </div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Пиджаки и жакеты </div>

                  <div class="category-menu__things">
                     <a class="category-menu__thing">Пиджаки</a>
                     <a class="category-menu__thing">Жакеты</a>


                  </div>
               </div>
            </div>
            <div class="category-menu__column">
               <div class="category-menu__label">Джемперы</div>
               <div class="category-menu__item">

                  <div class="category-menu__things">
                     <a class="category-menu__thing">Джемперы</a>
                     <a class="category-menu__thing">Кардиганы</a>
                     <a class="category-menu__thing">Водолазки</a>

                  </div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Джинсы и брюки </div>

                  <div class="category-menu__things">
                     <a class="category-menu__thing">Джинсы</a>
                     <a class="category-menu__thing">Брюки</a>
                     <a class="category-menu__thing">Шорты</a>

                  </div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Платья и юбки</div>
                  <div class="category-menu__things">
                     <a class="category-menu__thing">Платья</a>
                     <a class="category-menu__thing">Юбки</a>
                  </div>
               </div>
            </div>
            <div class="category-menu__column">
               <div class="category-menu__item">
                  <div class="category-menu__label">Футболки, поло и лонгсливы</div>
                  <div class="category-menu__things">
                     <a class="category-menu__thing">Футболки</a>
                     <a class="category-menu__thing">Брюки</a>
                     <a class="category-menu__thing">Шорты</a>

                  </div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Худи, толстовки, свитшоты</div>
                  <div class="category-menu__things">
                     <a class="category-menu__thing">Худи</a>
                     <a class="category-menu__thing">Толстовки</a>
                     <a class="category-menu__thing">Свитшоты</a>

                  </div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Блузы и рубашки</div>
                  <div class="category-menu__things">
                     <a class="category-menu__thing">Блузы</a>
                     <a class="category-menu__thing">Рубашки</a>


                  </div>
               </div>


            </div>
            <div class="category-menu__column">
               <div class="category-menu__item">
                  <div class="category-menu__label">Другая одежда</div>
                  <div class="category-menu__things">
                     <a class="category-menu__thing">Топы и майки</a>
                     <a class="category-menu__thing">Нижнее белье</a>
                     <a class="category-menu__thing">Спортивная одежда</a>
                     <a class="category-menu__thing">Одежда для дома</a>
                     <a class="category-menu__thing">Одежда для дома</a>
                  </div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Другое</div>
                  <div class="category-menu__things">
                     <a class="category-menu__thing">Обувь</a>
                     <a class="category-menu__thing">Акссесуары</a>

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>