<div class="category-menu">
   <div class="submenu">
      <div class="container">
         <div class="category-menu__content ">
            <div class="category-menu__column">

               <div class="category-menu__item">
                  <div class="category-menu__label">Верхняя одежда</div>
                  <div class="category-menu__things">
                     <a class="category-menu__thing" href="{% url 'shop:category' 0 %}">Бомберы</a>
                     <a class="category-menu__thing" href="{% url 'shop:category' 1 %}">Ветровки</a>
                     <a class="category-menu__thing" href="{% url 'shop:category' 2 %}">Джинсовые куртки</a>
                     <a class="category-menu__thing" href="{% url 'shop:category' 4 %}">Куртки рубашки</a>
                     <a class="category-menu__thing" href="{% url 'shop:category' 5 %}">Пальто</a>
                     <a class="category-menu__thing" href="{% url 'shop:category' 6 %}">Пуховики</a>
                     <a class="category-menu__thing" href="{% url 'shop:category' 7 %}">Тренчи</a>
                     <a class="category-menu__thing" href="{% url 'shop:category' 8 %}">Куртки</a>
                  </div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Пиджаки и жакеты </div>

                  <div class="category-menu__things">
                     <a class="category-menu__thing"  href="{% url 'shop:category' 20 %}">Пиджаки</a>
                     <a class="category-menu__thing"  href="{% url 'shop:category' 28 %}">Жакеты</a>


                  </div>
               </div>
            </div>
            <div class="category-menu__column">
               <div class="category-menu__label">Джемперы</div>
               <div class="category-menu__item">

                  <div class="category-menu__things">
                     <a class="category-menu__thing" href="{% url 'shop:category' 10 %}">Джемперы</a>
                     <a class="category-menu__thing" href="{% url 'shop:category' 11 %}" >Кардиганы</a>
                     <a class="category-menu__thing" href="{% url 'shop:category' 9 %}">Водолазки</a>

                  </div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Джинсы и брюки </div>

                  <div class="category-menu__things">
                     <a class="category-menu__thing"  href="{% url 'shop:category' 13 %}">Джинсы</a>
                     <a class="category-menu__thing"  href="{% url 'shop:category' 17 %}">Брюки</a>
                     <a class="category-menu__thing"  href="{% url 'shop:category' 21 %}">Шорты</a>

                  </div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Платья и юбки</div>
                  <div class="category-menu__things">
                     <a class="category-menu__thing" href="{% url 'shop:category' 14 %}">Платья</a>
                     <a class="category-menu__thing" href="{% url 'shop:category' 19 %}">Юбки</a>
                  </div>
               </div>
            </div>
            <div class="category-menu__column">
               <div class="category-menu__item">
                  <div class="category-menu__label">Футболки, поло и лонгсливы</div>
                  <div class="category-menu__things">
                     <a class="category-menu__thing" href="{% url 'shop:category' 15 %}">Футболки</a>
                     <a class="category-menu__thing" href="{% url 'shop:category' 29 %}">Поло</a>
                     <a class="category-menu__thing" href="{% url 'shop:category' 30 %}">Лонгсливы</a>

                  </div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Худи, толстовки, свитшоты</div>
                  <div class="category-menu__things">
                     <a class="category-menu__thing" href="{% url 'shop:category' 16 %}">Худи</a>
                     <a class="category-menu__thing" href="{% url 'shop:category' 31 %}">Толстовки</a>
                     <a class="category-menu__thing" href="{% url 'shop:category' 32 %}">Свитшоты</a>

                  </div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Блузы и рубашки</div>
                  <div class="category-menu__things">
                     <a class="category-menu__thing"  href="{% url 'shop:category' 18 %}">Блузы</a>
                     <a class="category-menu__thing"  href="{% url 'shop:category' 33 %}">Рубашки</a>


                  </div>
               </div>


            </div>
            <div class="category-menu__column">
               <div class="category-menu__item">
                  <div class="category-menu__label">Другая одежда</div>
                  <div class="category-menu__things">
                     <a class="category-menu__thing" href="{% url 'shop:category' 22 %}">Топы и майки</a>
                     <a class="category-menu__thing" href="{% url 'shop:category' 23 %}">Нижнее белье</a>
                     <a class="category-menu__thing" href="{% url 'shop:category' 24 %}">Спортивная одежда</a>
                     <a class="category-menu__thing" href="{% url 'shop:category' 25 %}">Одежда для дома</a>
                  </div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Другое</div>
                  <div class="category-menu__things">
                     <a class="category-menu__thing" href="{% url 'shop:category' 26 %}">Обувь</a>
                     <a class="category-menu__thing" href="{% url 'shop:category' 27 %}">Акссесуары</a>

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>