<!--<div class=" main-menu ">
   <nav class="main-menu__content  container">
      <div class=" main-menu__link   main-menu__link-1 "> Новинки

      </div>

      <div class="main-menu__link  main-menu__link-2 ">Одежда </div>
      <div class=" main-menu__link  ">Обувь </div>
      <div class=" main-menu__link  ">Акссесуары</div>
      <div class=" main-menu__link ">Скидки </div>
   </nav>
   <div class="content-checkout__body ">
      <div class="main-menu__category ">
         <div class="category-menu__content ">
            <div class="category-menu__column">
               <div class="category-menu__item">
                  <div class="category-menu__label">Платья</div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Верхняя одежда</div>
                  <div class="category-menu__things">
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                  </div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Джинсы и брюки </div>
               </div>
            </div>
            <div class="category-menu__column">
               <div class="category-menu__item">
                  <div class="category-menu__label">Платья</div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Верхняя одежда</div>
                  <div class="category-menu__things">
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                  </div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Джинсы и брюки </div>
               </div>
            </div>
            <div class="category-menu__column">
               <div class="category-menu__item">
                  <div class="category-menu__label">Платья</div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Верхняя одежда</div>
                  <div class="category-menu__things">
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                  </div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Джинсы и брюки </div>
               </div>
            </div>
            <div class="category-menu__column">
               <div class="category-menu__item">
                  <div class="category-menu__label">Платья</div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Верхняя одежда</div>
                  <div class="category-menu__things">
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                     <div class="category-menu__thing">Куртки</div>
                  </div>
               </div>
               <div class="category-menu__item">
                  <div class="category-menu__label">Джинсы и брюки </div>
               </div>
            </div>
         </div>
      </div>


   </div>

</div>-->
<!--<div class="primer ">
   <button class="btn primer-btn ">1</button>
   <button class="btn primer-btn ">2</button>
   <button class="btn primer-btn ">3</button>
   <div class="primer-shows">
      <div class="primer-show "> Lorem 1</div>
      <div class="primer-show "> Lorem 2 </div>
      <div class="primer-show "> Lorem 3 </div>
   </div>
</div>-->

<div class="main-menu " id="nav">
   <div class="main-menu__link">
      Новинки
      <div class="submenu">
         <div class="container">
            <div class="category-menu__content ">
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Новинки</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="main-menu__link">
      Одежда
      <div class="submenu">
         <div class="container">
            <div class="category-menu__content ">
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="main-menu__link">
      Обувь
      <div class="submenu">
         <div class="container">
            <div class="category-menu__content ">
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="main-menu__link">
      Акссесуары
      <div class="submenu">
         <div class="container">
            <div class="category-menu__content ">
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="main-menu__link">
      Скидки
      <div class="submenu">
         <div class="container">
            <div class="category-menu__content ">
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
               <div class="category-menu__column">
                  <div class="category-menu__item">
                     <div class="category-menu__label">Платья</div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Верхняя одежда</div>
                     <div class="category-menu__things">
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                        <div class="category-menu__thing">Куртки</div>
                     </div>
                  </div>
                  <div class="category-menu__item">
                     <div class="category-menu__label">Джинсы и брюки </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<!--<div class="main-menu " id="nav">
   <div class="munu-item">
      Новинки
      <div class="submenu">
         Меню_1
      </div>
   </div>
   <div class="munu-item">
      menu2
      <div class="submenu">
         Меню_2
      </div>
   </div>
   <div class="munu-item">
      menu3
      <div class="submenu">
         Меню_3
      </div>
   </div>
</div>-->
<!--<nav class="menu">
   <ul class="menu__list main-menu">
      <li>
         <a href="" class="menu__link main-menu__link"> Новинки</a>

         <ul class="sub-menu__list">
            <li>
               <a href="" class="sub-menu__link">Второй уровень</a>
            </li>
            <li>
               <a href="" class="sub-menu__link">Второй уровень</a>

            </li>
            <li>
               <a href="" class="sub-menu__link">Второй уровень</a>
            </li>
            <li>
               <a href="" class="sub-menu__link">Второй уровень</a>
            </li>
         </ul>
      </li>

      <li>
         <a href="" class="menu__link main-menu__link">Одежда</a>

         <ul class="sub-menu__list">
            <div class="sub-menu__content">
               <div class="sub-menu__column">
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
               </div>
               <div class="sub-menu__column">
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
               </div>
            </div>


         </ul>
      </li>
      <li>
         <a href="" class="menu__link main-menu__link">Обувь</a>

         <ul class="sub-menu__list">
            <div class="sub-menu__content">
               <div class="sub-menu__column">
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
               </div>
               <div class="sub-menu__column">
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
                  <li>
                     <a href="" class="sub-menu__link">Второй уровень 2</a>
                  </li>
               </div>
            </div>


         </ul>
      </li>
   </ul>
</nav>-->


<!--<div class="navbar">
   <a href="#home">Home</a>
   <a href="#news">News</a>
   <div class="dropdown_1">
      <button class="dropbtn_1" onclick="myFunction_1()">Dropdown
         <i class="fa_1 fa-caret-down_1"></i>
      </button>
      <div class="dropdown-content_1" id="myDropdown_1">
         <a href="#">Link 0</a>
         <a href="#">Link 0</a>
         <a href="#">Link 0</a>
      </div>
   </div>
   <div class="dropdown">
      <button class="dropbtn" onclick="myFunction()">Dropdown
         <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content" id="myDropdown">
         <div class="dropdown-content__container">
            <div class="dropdown-content__column">
               <a href="#">Link 1</a>
               <a href="#">Link 2</a>
               <a href="#">Link 3</a>
            </div>
            <div class="dropdown-content__column">
               <a href="#">Link 1</a>
               <a href="#">Link 2</a>
               <a href="#">Link 3</a>
            </div>
         </div>

      </div>
   </div>
</div>-->