<a href="page-product.html" class="card-product">
   <div class="card-product__labels">
      <div class="card-product__label">Новинка</div>
   </div>
   <div class="card-product__slider items-slider items-slider-1">
      <div class="card-product__body items-slider__body-1 _swiper">
         <div class="card-product__slide">
            <div class="card-product__image  ibg">
               <img src="img/img/product.jpg" alt="#">
            </div>
         </div>
         <div class="card-product__slide">
            <div class="card-product__image  ibg">
               <img src="img/img/product.jpg" alt="#">
            </div>
         </div>
         <div class="card-product__slide">
            <div class="card-product__image  ibg">
               <img src="img/img/product.jpg" alt="#">
            </div>
         </div>
         <div class="card-product__slide">
            <div class="card-product__image  ibg">
               <img src="img/img/product.jpg" alt="#">
            </div>
         </div>
      </div>
   </div>
   <div class="card-product__name">Футболка хлопковая</div>
   <div class="card-product__price"> <span class="card-product__count rub">2999</span>
   </div>
   <div class="card-product__delivery-terms">Доставка послезавтра </div>
</a>