<div class="slider-product">
   <div class="slider-product__body _swiper">
      <div class="slider-product__slide">
         <div class="item-product__content">
            <div class="item-product">
               <div class="item-product__labels">
                  <div class="item-product__label item-product__label-1">АКЦИЯ</div>
               </div>

               <div class="items-product__slider items-slider">
                  <div class="items-slider__body _swiper_1">
                     <div class="items-slider__slide">
                        <div class="items-slider__image  ibg">
                           <img src="img/mainslider/01.jpg" alt="">
                        </div>
                     </div>
                     <div class=" items-slider__slide">
                        <div class="items-slider__image ibg">
                           <img src="img/mainslider/02.jpg" alt="">
                        </div>
                     </div>
                     <div class="items-slider__slide">
                        <div class="items-slider__image  ibg">

                        </div>
                     </div>
                     <div class="items-slider__slide">
                        <div class="items-slider__image  ibg">

                        </div>
                     </div>

                  </div>
                  <div class="items-slider__dotts "></div>
                  <div class="swiper-button-next test-slider-next"></div>
                  <div class="swiper-button-prev test-slider-prev"></div>
               </div>

               <div class="item-product__body">
                  <div class="item-product__price-block price-block">
                     <div class="price-block__price price-block__price-1 price rub">299
                     </div>
                     <div class="price-block__old-price old-price rub">299</div>
                     <div class="price-block__discount discount">-73%</div>
                  </div>
                  <div class="item-product__title">Описание товара <br> описание
                     товописание <br>
                     товара
                     описани
                  </div>


               </div>
               <div class="item-product__footer">
                  <div class="item-product__footer-block">
                     <div class="item-product__stock">
                        <div class="item-product__text">В налиии: </div>
                        <div class="item-product__quantity">15</div>
                     </div>
                     <div class="item-product__logo">
                        <img src="img/logo.png" alt="">
                     </div>
                  </div>

                  <button type="submit" class="item-product__btn btn btn-product">В
                     корзину</button>
               </div>

            </div>
         </div>
      </div>
      <div class="slider-product__slide">
         <div class="item-product__content">
            <div class="item-product">
               <div class="item-product__labels">
                  <div class="item-product__label item-product__label-1">АКЦИЯ</div>
               </div>

               <div class="items-product__slider items-slider">
                  <div class="items-slider__body _swiper_1">
                     <div class="items-slider__slide">
                        <div class="items-slider__image  ibg">
                           <img src="img/mainslider/01.jpg" alt="">
                        </div>
                     </div>
                     <div class=" items-slider__slide">
                        <div class="items-slider__image ibg">
                           <img src="img/mainslider/02.jpg" alt="">
                        </div>
                     </div>
                     <div class="items-slider__slide">
                        <div class="items-slider__image  ibg">

                        </div>
                     </div>
                     <div class="items-slider__slide">
                        <div class="items-slider__image  ibg">

                        </div>
                     </div>

                  </div>
                  <div class="items-slider__dotts "></div>
                  <div class="swiper-button-next test-slider-next"></div>
                  <div class="swiper-button-prev test-slider-prev"></div>
               </div>

               <div class="item-product__body">
                  <div class="item-product__price-block price-block">
                     <div class="price-block__price price-block__price-1 price rub">299
                     </div>
                     <div class="price-block__old-price old-price rub">299</div>
                     <div class="price-block__discount discount">-73%</div>
                  </div>
                  <div class="item-product__title">Описание товара <br> описание
                     товописание <br>
                     товара
                     описани
                  </div>


               </div>
               <div class="item-product__footer">
                  <div class="item-product__footer-block">
                     <div class="item-product__stock">
                        <div class="item-product__text">В налиии: </div>
                        <div class="item-product__quantity">15</div>
                     </div>
                     <div class="item-product__logo">
                        <img src="img/logo.png" alt="">
                     </div>
                  </div>

                  <button type="submit" class="item-product__btn btn btn-product">В
                     корзину</button>
               </div>

            </div>
         </div>
      </div>
      <div class="slider-product__slide">
         <div class="item-product__content">
            <div class="item-product">
               <div class="item-product__labels">
                  <div class="item-product__label item-product__label-1">АКЦИЯ</div>
               </div>

               <div class="items-product__slider items-slider">
                  <div class="items-slider__body _swiper_1">
                     <div class="items-slider__slide">
                        <div class="items-slider__image  ibg">
                           <img src="img/mainslider/01.jpg" alt="">
                        </div>
                     </div>
                     <div class=" items-slider__slide">
                        <div class="items-slider__image ibg">
                           <img src="img/mainslider/02.jpg" alt="">
                        </div>
                     </div>
                     <div class="items-slider__slide">
                        <div class="items-slider__image  ibg">

                        </div>
                     </div>
                     <div class="items-slider__slide">
                        <div class="items-slider__image  ibg">

                        </div>
                     </div>

                  </div>
                  <div class="items-slider__dotts "></div>
                  <div class="swiper-button-next test-slider-next"></div>
                  <div class="swiper-button-prev test-slider-prev"></div>
               </div>

               <div class="item-product__body">
                  <div class="item-product__price-block price-block">
                     <div class="price-block__price price-block__price-1 price rub">299
                     </div>
                     <div class="price-block__old-price old-price rub">299</div>
                     <div class="price-block__discount discount">-73%</div>
                  </div>
                  <div class="item-product__title">Описание товара <br> описание
                     товописание <br>
                     товара
                     описани
                  </div>


               </div>
               <div class="item-product__footer">
                  <div class="item-product__footer-block">
                     <div class="item-product__stock">
                        <div class="item-product__text">В налиии: </div>
                        <div class="item-product__quantity">15</div>
                     </div>
                     <div class="item-product__logo">
                        <img src="img/logo.png" alt="">
                     </div>
                  </div>

                  <button type="submit" class="item-product__btn btn btn-product">В
                     корзину</button>
               </div>

            </div>
         </div>
      </div>
      <div class="slider-product__slide">
         <div class="item-product__content">
            <div class="item-product">
               <div class="item-product__labels">
                  <div class="item-product__label item-product__label-1">АКЦИЯ</div>
               </div>

               <div class="items-product__slider items-slider">
                  <div class="items-slider__body _swiper_1">
                     <div class="items-slider__slide">
                        <div class="items-slider__image  ibg">
                           <img src="img/mainslider/01.jpg" alt="">
                        </div>
                     </div>
                     <div class=" items-slider__slide">
                        <div class="items-slider__image ibg">
                           <img src="img/mainslider/02.jpg" alt="">
                        </div>
                     </div>
                     <div class="items-slider__slide">
                        <div class="items-slider__image  ibg">

                        </div>
                     </div>
                     <div class="items-slider__slide">
                        <div class="items-slider__image  ibg">

                        </div>
                     </div>

                  </div>
                  <div class="items-slider__dotts "></div>
                  <div class="swiper-button-next test-slider-next"></div>
                  <div class="swiper-button-prev test-slider-prev"></div>
               </div>

               <div class="item-product__body">
                  <div class="item-product__price-block price-block">
                     <div class="price-block__price price-block__price-1 price rub">299
                     </div>
                     <div class="price-block__old-price old-price rub">299</div>
                     <div class="price-block__discount discount">-73%</div>
                  </div>
                  <div class="item-product__title">Описание товара <br> описание
                     товописание <br>
                     товара
                     описани
                  </div>


               </div>
               <div class="item-product__footer">
                  <div class="item-product__footer-block">
                     <div class="item-product__stock">
                        <div class="item-product__text">В налиии: </div>
                        <div class="item-product__quantity">15</div>
                     </div>
                     <div class="item-product__logo">
                        <img src="img/logo.png" alt="">
                     </div>
                  </div>

                  <button type="submit" class="item-product__btn btn btn-product">В
                     корзину</button>
               </div>

            </div>
         </div>
      </div>
      <div class="slider-product__slide">
         <div class="item-product__content">
            <div class="item-product">
               <div class="item-product__labels">
                  <div class="item-product__label item-product__label-1">АКЦИЯ</div>
               </div>

               <div class="items-product__slider items-slider">
                  <div class="items-slider__body _swiper_1">
                     <div class="items-slider__slide">
                        <div class="items-slider__image  ibg">
                           <img src="img/mainslider/01.jpg" alt="">
                        </div>
                     </div>
                     <div class=" items-slider__slide">
                        <div class="items-slider__image ibg">
                           <img src="img/mainslider/02.jpg" alt="">
                        </div>
                     </div>
                     <div class="items-slider__slide">
                        <div class="items-slider__image  ibg">

                        </div>
                     </div>
                     <div class="items-slider__slide">
                        <div class="items-slider__image  ibg">

                        </div>
                     </div>

                  </div>
                  <div class="items-slider__dotts "></div>
                  <div class="swiper-button-next test-slider-next"></div>
                  <div class="swiper-button-prev test-slider-prev"></div>
               </div>

               <div class="item-product__body">
                  <div class="item-product__price-block price-block">
                     <div class="price-block__price price-block__price-1 price rub">299
                     </div>
                     <div class="price-block__old-price old-price rub">299</div>
                     <div class="price-block__discount discount">-73%</div>
                  </div>
                  <div class="item-product__title">Описание товара <br> описание
                     товописание <br>
                     товара
                     описани
                  </div>


               </div>
               <div class="item-product__footer">
                  <div class="item-product__footer-block">
                     <div class="item-product__stock">
                        <div class="item-product__text">В налиии: </div>
                        <div class="item-product__quantity">15</div>
                     </div>
                     <div class="item-product__logo">
                        <img src="img/logo.png" alt="">
                     </div>
                  </div>

                  <button type="submit" class="item-product__btn btn btn-product">В
                     корзину</button>
               </div>

            </div>
         </div>
      </div>
      <div class="slider-product__slide">
         <div class="item-product__content">
            <div class="item-product">
               <div class="item-product__labels">
                  <div class="item-product__label item-product__label-1">АКЦИЯ</div>
               </div>

               <div class="items-product__slider items-slider">
                  <div class="items-slider__body _swiper_1">
                     <div class="items-slider__slide">
                        <div class="items-slider__image  ibg">
                           <img src="img/mainslider/01.jpg" alt="">
                        </div>
                     </div>
                     <div class=" items-slider__slide">
                        <div class="items-slider__image ibg">
                           <img src="img/mainslider/02.jpg" alt="">
                        </div>
                     </div>
                     <div class="items-slider__slide">
                        <div class="items-slider__image  ibg">

                        </div>
                     </div>
                     <div class="items-slider__slide">
                        <div class="items-slider__image  ibg">

                        </div>
                     </div>

                  </div>
                  <div class="items-slider__dotts "></div>
                  <div class="swiper-button-next test-slider-next"></div>
                  <div class="swiper-button-prev test-slider-prev"></div>
               </div>

               <div class="item-product__body">
                  <div class="item-product__price-block price-block">
                     <div class="price-block__price price-block__price-1 price rub">299
                     </div>
                     <div class="price-block__old-price old-price rub">299</div>
                     <div class="price-block__discount discount">-73%</div>
                  </div>
                  <div class="item-product__title">Описание товара <br> описание
                     товописание <br>
                     товара
                     описани
                  </div>


               </div>
               <div class="item-product__footer">
                  <div class="item-product__footer-block">
                     <div class="item-product__stock">
                        <div class="item-product__text">В налиии: </div>
                        <div class="item-product__quantity">15</div>
                     </div>
                     <div class="item-product__logo">
                        <img src="img/logo.png" alt="">
                     </div>
                  </div>

                  <button type="submit" class="item-product__btn btn btn-product">В
                     корзину</button>


               </div>

            </div>
         </div>
      </div>
   </div>
   <div class="swiper-button-next slider-next slider-product-next"></div>
   <div class="swiper-button-prev slider-prev slider-product-prev"></div>
</div>